* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
/* ____________header_______________ */
.logo {
  width: 218px;
  height: 60px;
  background-image: url("../IMAGE/logo-uthm.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 80px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul li a:hover {
  color: blue;
}
.nav li {
  padding: 10px;
  font-size: 20px;
}
.icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.col {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.col a {
  color: #000000;
  font-size: 50px;
  line-height: 60px;
}
.col:nth-child(1) a:hover {
  color: blue;
}
.col:nth-child(2) a:hover {
  color: purple;
}
.col:nth-child(3) a:hover {
  color: red;
}
.col:nth-child(4) a:hover {
  color: lightblue;
}
.col:nth-child(5) a:hover {
  color: grey;
}
/* ____________end header_______________ */
/* ____________main_______________ */
.main {
  background-color: black;
  /* ____________page1_______________ */
  /* ____________end page1_______________ */
  /* ____________page2_______________ */
  /* ____________end page2_______________ */
  /* ____________page3_______________ */
  /* ____________end page3_______________ */
  /* ____________page4_______________ */
  /* ____________end page4 _______________ */
  /* ____________page5_______________ */
  /* ____________end page5_______________ */
}
.main .page1 {
  position: relative;
  background-color: black;
  height: 90vh;
  /* Fading animation */
}
.main .page1 .slideshow-container {
  padding-left: 15vw;
  padding-right: 15vw;
  height: 90vh;
  background-image: linear-gradient(to bottom right, black, grey);
}
.main .page1 .slideshow-container .mySlides {
  height: 100%;
  display: none;
}
.main .page1 .slideshow-container .mySlides img {
  height: 100%;
}
.main .page1 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main .page1 .button-left {
  position: absolute;
  left: 10vw;
  top: 45vh;
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.main .page1 .button-left:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}
.main .page1 .button-right {
  position: absolute;
  right: 10vw;
  top: 45vh;
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.main .page1 .button-right:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}
.main .page2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  background-color: #FEECE9;
  height: 90vh;
  font-family: 'Open Sans', sans-serif;
}
.main .page2 .title {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  font-size: 8rem;
  font-family: 'Allerta Stencil', sans-serif;
}
.main .page2 .top {
  flex: 1;
  height: 45vh;
}
.main .page2 .top .B_box {
  margin: 0 5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.main .page2 .top .B_box .box {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10vh;
  height: 17.5vh;
  width: 20vw ;
  background-color: #2F3A8F;
  text-align: center;
  line-height: 17.5vh;
  color: #CCD1E4;
  cursor: pointer;
}
.main .page2 .bottom {
  flex: 1;
  height: 45vh;
}
.main .page2 .bottom .B_box {
  margin: 0 5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.main .page2 .bottom .B_box .box {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10vh;
  height: 17.5vh;
  width: 20vw ;
  background-color: #2F3A8F;
  text-align: center;
  line-height: 17.5vh;
  color: #CCD1E4;
  cursor: pointer;
}
.main .page3 {
  margin-top: 10vh;
  height: 90vh;
  background-color: white;
}
.main .page3 .top {
  height: 20vh;
  text-align: center;
  line-height: 20vh;
  font-size: 50px;
}
.main .page3 .bottom {
  height: 70vh;
}
.main .page3 .bottom .B_box {
  margin: 0 5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .page3 .bottom .B_box .box {
  display: flex;
  flex-direction: column;
}
.main .page3 .bottom .B_box .box .circle {
  margin-bottom: 10vh;
  height: 20vw;
  width: 20vw ;
  border-radius: 50%;
}
.main .page3 .bottom .B_box .box .circle img {
  width: 100%;
  border-radius: 50%;
}
.main .page3 .bottom .B_box .box .detail {
  width: 20vw ;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 20px;
  background-color: wheat;
}
.main .page3 .bottom .B_box .box .detail a {
  text-decoration: none;
}
.main .page4 {
  margin-top: 10vh;
  background-color: white;
  height: 90vh;
}
.main .page4 .top {
  height: 15vh;
  text-align: center;
  line-height: 20vh;
  font-size: 40px;
}
.main .page4 .bottom {
  display: flex;
  margin-left: 5vw;
  height: 75vh;
}
.main .page4 .bottom .left {
  display: flex;
  width: 45vw;
  margin: 10vw;
  margin-top: 6vw;
  justify-content: center;
  align-items: center;
}
.main .page4 .bottom .left .image {
  width: 25vw;
}
.main .page4 .bottom .right {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.main .page4 .bottom .right .title {
  font-size: 22px;
  width: 40vw;
  margin: 2vw 5vw;
  margin-top: 3vw;
}
.main .page4 .bottom .right .content {
  font-size: 22px;
  width: 40vw;
  margin: 2vw 5vw;
  padding: 1vh;
  background: linear-gradient(wheat, white);
}
.main .page4 .bottom .right button {
  background: lightyellow;
  cursor: pointer;
  margin-left: 5vw;
  width: 10vw;
  height: 10vh;
  text-decoration: none;
}
.main .page4 .bottom .right button a {
  text-decoration: none;
}
.main .page5 {
  margin: 10vh 0;
  background-color: white;
  height: 90vh;
}
.main .page5 .top {
  height: 15vh;
  text-align: center;
  line-height: 20vh;
  font-size: 40px;
}
.main .page5 .bottom {
  display: flex;
  margin-left: 5vw;
  height: 75vh;
}
.main .page5 .bottom .left {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.main .page5 .bottom .left .title {
  font-size: 50px;
  width: 40vw;
  margin: 2vw 5vw;
  margin-top: 3vw;
}
.main .page5 .bottom .left .content {
  font-size: 22px;
  width: 40vw;
  margin: 2vw 5vw;
  padding: 1vh;
  background: linear-gradient(wheat, white);
}
.main .page5 .bottom .left button {
  background: lightyellow;
  cursor: pointer;
  margin-left: 5vw;
  width: 10vw;
  height: 10vh;
  text-decoration: none;
}
.main .page5 .bottom .left button a {
  text-decoration: none;
}
.main .page5 .bottom .right {
  display: flex;
  width: 45vw;
  margin: 10vw;
  margin-top: 6vw;
  justify-content: center;
  align-items: center;
}
.main .page5 .bottom .right .image {
  width: 15vw;
  border-radius: 50%;
}
/* ____________end main_______________ */
/* ____________footer_______________ */
.footer {
  display: flex;
  height: 40vh;
  background: no-repeat url("../IMAGE/uthm.png");
  background-position: bottom;
}
.footer .left {
  text-align: center;
  flex: 1;
}
.footer .right {
  text-align: center;
  flex: 1;
}
.cpyright {
  height: 5vh;
  background-color: black;
}
.cpyright p {
  text-align: center;
  color: white;
  line-height: 5vh;
}
/* ____________end footer_______________ */
