* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  height: 99vh;
  margin: 0 auto;
  background-color: skyblue;
  position: relative;
}
.container .profile {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background: url(AI210390.jpg);
  background-size: cover  ;
  border-radius: 50%;
}
.container .profile-thumb {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .profile-thumb h1 {
  color: white;
  transform: translate(27px, 100px) rotateZ(-20deg);
}
.container .profile-thumb h1 span {
  font-size: 50px;
}
.container .profile-thumb h2 {
  color: white;
  transform: translate(123px, 71px) rotateZ(-20deg);
}
.container .profile-thumb h2 span {
  font-size: 50px;
}
.container .profile-thumb h3 {
  color: white;
  transform: translate(80px, 160px);
}
.container .profile-thumb h3 span {
  font-size: 16px;
}
.container .box {
  margin: 100px;
}
.container .box ul li {
  font-size: 25px;
}
.container .box ul li .first-block {
  width: 40%;
  display: inline-block;
  float: left;
  color: white;
  font-weight: bold;
}
.container .box ul li .second-block {
  width: 60%;
  display: inline-block;
  color: whitesmoke;
}
.container .box {
  margin: 100px;
}
.container .box h2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 20px 0;
}
.container .box p {
  color: white;
  display: block;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
}
.container {
  position: relative;
}
.container .box_3d {
  transform-style: preserve-3d;
  animation: move 8s infinite ;
}
.container .box_3d .pic {
  width: 30vw ;
  height: 30vw;
  background-image: linear-gradient(white, #656565);
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  left: 35vw;
  top: 10vh;
}
.container .box_3d .pic img {
  border-radius: 10px 10px 10px 10px;
}
.container .box_3d .front {
  transform: translateZ(15vw);
}
.container .box_3d .left {
  transform: rotateY(90deg) translateZ(15vw);
}
.container .box_3d .right {
  transform: rotateY(-90deg) translateZ(15vw);
}
.container .box_3d .back {
  transform: translateZ(-15vw);
}
@keyframes move {
  0% {
    transform: translateX(0vw) rotateY(0deg);
  }
  25% {
    transform: translateX(0vw) rotateY(90deg);
  }
  50% {
    transform: translateX(0vw) rotateY(180deg);
  }
  75% {
    transform: translateX(0vw) rotateY(270deg);
  }
  100% {
    transform: translateX(0vw) rotateY(360deg);
  }
}
