@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body{
    position: relative;
}

.shinchan_TQ{
    position: absolute;
    top: 1700px;
    left: 1200px;
    background-color: transparent;
    z-index: 7;
    width: 228px;
    height: 225px;
    background-image: url(./shinchan.png);
    transition: all 100s;

    &:hover{
        animation: shinchan_TQ 1s steps(6) infinite;
    }

}

.shinchan_play{
    transform: rotateY(180deg);
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: transparent;
    z-index: 7;
    width: 140px;
    height: 140px;
    background-size: cover;
    background-image: url(./shinchan_play.png);
    animation: shinchan_play 0.5s steps(3)infinite;

}

@keyframes shinchan_play {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
    

}

@keyframes shinchan_TQ {
    0%{
        background-position: 1350px 0;
    }
    100%{
        background-position: 0px 0;
    }

}
@keyframes shinchan_TQ_R  {
    0%{
        background-position: 225px 0;
    }
    100%{
        background-position: 1350px 0;
    }

}
.container{
    height: 99vh;
    margin: 0 auto;
    background-color: linear-gradient(white,rgb(101, 101, 101));
    position: relative;
    overflow: hidden;
    

    .first{
        position: absolute;
        top: 0;
        right: -500px;
    }

    .last{
        position: absolute;
        top: 0;
        left: -500px;
        transform: rotateY(180deg);
    }
    .profile{
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 200px;
        width: 200px;
        background: url(./AI210390.jpg);
        background-size: cover  ;
        border-radius: 50%;
    }
    .profile-thumb{
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Kaushan Script', cursive;

        h1{
            color: rgb(0, 0, 0);
            transform: translate(9px, 100px) rotateZ(345deg);
            span{
                font-size: 50px;
            }
        }
        h2{
            color: rgb(0, 0, 0);
            transform: translate(100px, 69px) rotateZ(345deg);

            span{
                font-size: 50px;
            }
        }
        h3{
            color: rgb(0, 0, 0);
            transform: translate(100px, 171px);
            font-family: 'Oswald', sans-serif;
            span{
                font-size: 16px;
            }
        }
    } 
}
.container{
    .shawdow_box{
        width: 50%;
        height: 100%;
        float: right;
        background:rgba(255, 255, 255, 0.8);
        padding: 20px;

    
            ul{
                li{
                    font-size: 25px;
                    .first-block{
                        width: 40%;
                        display: inline-block;
                        float: left;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                    }
                    .second-block{
                        width: 60%;
                        display: inline-block;
                        color: rgb(0, 0, 0)
                    }
                }
            }

            
        h2{
            font-weight: 400;
            line-height: 1.1;
            margin: 0 0 20px 0;

            }
        p{
            color: #000;
            display: block; 
            margin: 0 0 10px; 
            font-weight: 400;
            line-height: 1.7;  
            font-size: 20px;
        }
        }

    }



.container{
    position: relative;
    
    .box_3d{
        transform-style: preserve-3d;
        // transition: all 1s;
        animation: move 8s infinite ;

        &:hover{
            animation-play-state: paused;
        }

        .pic{
            width:30vw ;
            height: 30vw;
            background-image:linear-gradient(white,rgb(101, 101, 101)) ;
            border-radius: 10px 10px 10px 10px;
            position: absolute;
            left: 35vw;
            top: 10vh;


            
            img{
                border-radius: 10px 10px 10px 10px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    

    .front{
        transform: translateZ(15vw);

    }
    .left{
        transform: rotateY(90deg) translateZ(15vw);
    }
    .right{
        transform: rotateY(-90deg) translateZ(15vw);
    }
    .back{
        transform: translateZ(-15vw);

    }
    // &:hover{
    //     transform: translateX(0vw) rotateY(180deg)
    // }
    }

}

@keyframes move {
    0%{

        transform:translateX(0vw) rotateY(0deg);
    }
    25%{
        transform:translateX(0vw) rotateY(90deg);
        
    }
    50%{

        transform: translateX(0vw) rotateY(180deg);

    }
    75%{
        transform:  translateX(0vw) rotateY(270deg);
    }
    100%{
        transform: translateX(0vw)rotateY(360deg);
    }
    
}

// .circle{
//     position: relative;
//     width: 550px;
//     height: 550px;
//     border-radius: 50%;
//     background-color: #ccc;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .logo{
//         position: absolute;
//         width: 500px;
//         height: 500px;
//         background: url(./AI210390.jpg);
//         background-size: cover;
//         border-radius: 50%;
//         filter: brightness(1.5) contrast(1.5);
        
//     }

//     .text{
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         animation: rotatetext 10s linear infinite;
        
//         &:hover{
//             animation-play-state: paused;
//         }

//         span{
//             position: absolute;
//             left: 50%;
//             font-size: 2.5em;
//             transform-origin: 0 275px;
//         }
//     }


// }

@keyframes rotatetext{
0%{
    transform: rotate(360deg);
}
100%{
    transform: rotate(0deg);
}
    
}


.box1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

    .ring{
        position: relative;
        top: -50px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top: 4px solid #24ecff;
        transition: transform 1s;

        &::before{
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: #24ecff;;
            box-shadow: 
            0 0 0 5px #24ecff33,
            0 0 0 10px #24ecff22,
            0 0 0 20px #24ecff11,
            0 0 20px #24ecff,
            0 0 50px #24ecff;
        }

        
        
        &:hover{
            transform: rotate(270deg);

        }
        &:hover .text{
            opacity: 1;
            animation: alltr 3s linear forwards;

            
        }


        // &::after{

        // }
    }
}

.text{
    position: absolute;
    top:-10px ;
    width: 100%;
    height: 100%;
    
    // animation: rotatetext 10s linear infinite;
    transform: rotate(60deg);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    filter: drop-shadow(0 0 50px #fff);
    opacity: 0;
    transition: opacity 3s,
    animation 1s;
    
    // &:hover{
    //     animation-play-state: paused;
    // }

    span{
        position: absolute;
        left: 50%;
        font-size: 0.8em;
        transform-origin: 0 75px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

.ltr{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    
    
    h2{
        position: relative;
        font-size: 6em;
        color: #222;

        &::before{
            content: 'CSS only';
            position: absolute;
            color: #fff;
            width: 350px;
            overflow: hidden;
            white-space: nowrap;
            border-right: 4px solid #fff;
            animation: altr 8s infinite linear;
            filter: drop-shadow(0 0 50px #fff);
            
        }
    }


}

@keyframes altr {
 0%,10%,100%{
    width: 0;
 }  
 70%,90%{
    width: 100%;
 } 
}

@keyframes alltr {
    0%{
       width: 0;
    }  
    100%{
       width: 100%;
    } 
   }
   
