* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
/* ____________header_______________ */
.logo {
  width: 218px;
  height: 60px;
  background-image: url("../IMAGE/logo-uthm.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 80px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul li a:hover {
  color: blue;
}
.nav li {
  padding: 10px;
  font-size: 20px;
}
.icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.col {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.col a {
  color: #000000;
  font-size: 50px;
  line-height: 60px;
}
.col:nth-child(1) a:hover {
  color: blue;
}
.col:nth-child(2) a:hover {
  color: purple;
}
.col:nth-child(3) a:hover {
  color: red;
}
.col:nth-child(4) a:hover {
  color: lightblue;
}
.col:nth-child(5) a:hover {
  color: grey;
}
/* ____________end header_______________ */
/* ____________main_______________ */
.main {
  background-color: black;
  /* ____________page1_______________ */
  /* ____________end page1_______________ */
  /* ____________page2_______________ */
  /* ____________end page2_______________ */
}
.main .page1 {
  position: relative;
  background-color: #ffffff;
  height: 90vh;
}
.main .page1 body {
  margin: 0;
  background-image: linear-gradient(90deg, #201A35, #0B0320);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.main .page1 .slider {
  width: 100%;
}
.main .page1 .slider input {
  display: none;
}
.main .page1 .testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}
.main .page1 .testimonials .item {
  width: 450px;
  padding: 30px;
  border-radius: 5px;
  background-color: #0A0220;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}
.main .page1 .testimonials .item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 13px solid #3B344D;
}
.main .page1 .testimonials .item p {
  color: #ddd;
}
.main .page1 .testimonials .item h2 {
  font-size: 14px;
}
.main .page1 .dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .page1 .dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413B52;
  margin: 7px;
  transition-duration: 0.2s;
}
.main .page1 #t-1:checked ~ .dots label[for="t-1"],
.main .page1 #t-2:checked ~ .dots label[for="t-2"],
.main .page1 #t-3:checked ~ .dots label[for="t-3"],
.main .page1 #t-4:checked ~ .dots label[for="t-4"],
.main .page1 #t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}
.main .page1 #t-1:checked ~ .dots label[for="t-2"],
.main .page1 #t-2:checked ~ .dots label[for="t-1"],
.main .page1 #t-2:checked ~ .dots label[for="t-3"],
.main .page1 #t-3:checked ~ .dots label[for="t-2"],
.main .page1 #t-3:checked ~ .dots label[for="t-4"],
.main .page1 #t-4:checked ~ .dots label[for="t-3"],
.main .page1 #t-4:checked ~ .dots label[for="t-5"],
.main .page1 #t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
.main .page1 #t-1:checked ~ .testimonials label[for="t-3"],
.main .page1 #t-2:checked ~ .testimonials label[for="t-4"],
.main .page1 #t-3:checked ~ .testimonials label[for="t-5"],
.main .page1 #t-4:checked ~ .testimonials label[for="t-1"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}
.main .page1 #t-1:checked ~ .testimonials label[for="t-2"],
.main .page1 #t-2:checked ~ .testimonials label[for="t-3"],
.main .page1 #t-3:checked ~ .testimonials label[for="t-4"],
.main .page1 #t-4:checked ~ .testimonials label[for="t-5"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}
.main .page1 #t-2:checked ~ .testimonials label[for="t-1"],
.main .page1 #t-3:checked ~ .testimonials label[for="t-2"],
.main .page1 #t-4:checked ~ .testimonials label[for="t-3"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-4"],
.main .page1 #t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}
.main .page1 #t-3:checked ~ .testimonials label[for="t-1"],
.main .page1 #t-4:checked ~ .testimonials label[for="t-2"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-3"],
.main .page1 #t-2:checked ~ .testimonials label[for="t-5"],
.main .page1 #t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
.main .page1 #t-1:checked ~ .testimonials label[for="t-1"],
.main .page1 #t-2:checked ~ .testimonials label[for="t-2"],
.main .page1 #t-3:checked ~ .testimonials label[for="t-3"],
.main .page1 #t-4:checked ~ .testimonials label[for="t-4"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-4"],
.main .page1 #t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}
.main .page2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  background-color: #FEECE9;
  height: 90vh;
  font-family: 'Open Sans', sans-serif;
}
/* ____________end main_______________ */
/* ____________footer_______________ */
.footer {
  display: flex;
  height: 40vh;
  background: no-repeat url("../IMAGE/uthm.png");
  background-position: bottom;
}
.footer .left {
  text-align: center;
  flex: 1;
}
.footer .right {
  text-align: center;
  flex: 1;
}
.cpyright {
  height: 5vh;
  background-color: black;
}
.cpyright p {
  text-align: center;
  color: white;
  line-height: 5vh;
}
/* ____________end footer_______________ */
