*{
    font-family: 'Yellowtail';
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

img{
    width: 100%;
}
/* ____________header_______________ */
.logo {
    width: 218px;
    height: 60px;
    background-image: url("../logo-uthm.png");
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: 80px;
  }
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  .nav ul li a {
    text-decoration: none;
  }
  .nav ul li a:hover {
    color: blue;
  }
  .nav li {
    padding: 10px;
    font-size: 20px;
  }
  .icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .col {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }
  .col a {
    color: #000000;
    font-size: 50px;
    line-height: 60px;
  }
  .col a:hover {
    color: blue;
  }
  /* ____________end header_______________ */
/* ____________main_______________ */
.main{
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-image: url('../aaaa.png');
    background-position: center;
    background-repeat: no-repeat;
}

.right,
.left{
    display: flex;
    flex-direction: column;
}

.insidebox1{
    font-size: 25px;
    text-align: center;
    line-height: 150px;
    margin-top: -18px;
    z-index: 1;
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 1s;
    transform: scale(0.0001);
    border-radius: 10px;
}
.box1{
    z-index: 2;
    margin: 50px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.left .box1:hover .insidebox1{
    transform: translateX(-100%) translateY(-140px);
}
.right .box1:hover .insidebox1{
    transform: translateX(150px) translateY(-140px);
}

/* ____________footer_______________ */
.footer {
    display: flex;
    height: 40vh;
    background: no-repeat url("../uthm.png");
    background-position: bottom;
  }
  .footer .left {
    text-align: center;
    flex: 1;
  }
  .footer .right {
    text-align: center;
    flex: 1;
  }
  .cpyright {
    height: 5vh;
    background-color: black;
  }
  .cpyright p {
    text-align: center;
    color: white;
    line-height: 5vh;
  }

