@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v28/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
/* ____________header_______________ */
.logo {
  width: 218px;
  height: 60px;
  background-image: url("../IMAGE/logo-uthm.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 80px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav ul li a {
  color: #000000;
  text-decoration: none;
}
.nav ul li a:hover {
  color: blue;
}
.nav li {
  padding: 10px;
  font-size: 20px;
}
.icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.col {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.col a {
  color: #000000;
  font-size: 50px;
  line-height: 60px;
}
.col:nth-child(1) a:hover {
  color: blue;
}
.col:nth-child(2) a:hover {
  color: purple;
}
.col:nth-child(3) a:hover {
  color: red;
}
.col:nth-child(4) a:hover {
  color: lightblue;
}
.col:nth-child(5) a:hover {
  color: grey;
}
body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f0f0;
}
.main h1 {
  margin: 50px 0 30px;
  text-align: center;
}
.faq-container {
  max-width: 600px;
  margin: 0 auto;
}
.faq-container .faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}
.faq-container .faq .faq-title {
  margin: 0 35px 0 0;
}
.faq-container .faq .faq-text {
  display: none;
  margin: 30px 0 0;
}
.faq-container .faq .faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}
.faq-container .faq .faq-toggle:focus {
  outline: 0;
}
.faq-container .faq .faq-toggle .fa-times {
  display: none;
}
.faq-container .faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.faq-container .faq.active::before,
.faq-container .faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.faq-container .faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}
.faq-container .faq.active .faq-text {
  display: block;
}
.faq-container .faq.active .faq-toggle {
  background-color: #9fa4a8;
}
.faq-container .faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}
.faq-container .faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
/* ____________footer_______________ */
.footer {
  display: flex;
  height: 40vh;
  background: no-repeat url("../IMAGE/uthm.png");
  background-position: bottom;
}
.footer .left {
  text-align: center;
  flex: 1;
}
.footer .right {
  text-align: center;
  flex: 1;
}
.cpyright {
  height: 5vh;
  background-color: black;
}
.cpyright p {
  text-align: center;
  color: white;
  line-height: 5vh;
}
/* ____________end footer_______________ */
