* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  background-color: #FAECD6;
  flex-wrap: wrap;
}
.header .left {
  width: 20%;
}
.header .left img {
  height: 50px;
}
.header .middle {
  width: 55%;
}
.header .right {
  font-size: 30px;
  width: 25%;
}
.header .right a {
  margin: 10px;
  float: right;
  color: #5F7161;
  position: relative;
}
.header .right a span {
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.header .right .logo_user {
  border: 3px solid white;
  border-radius: 20px;
  padding: 0 10px;
  margin: 5px 0;
}
.nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #820000;
}
.nav_link li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  height: 30px;
  width: 50px;
}
.nav_link li a {
  display: inline-block;
  height: 30px;
  width: 100px;
  color: white;
  border: none;
  text-align: center;
}
.nav_link li a:hover {
  border-bottom: white double 1px ;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 150vh;
  overflow-x: hidden;
  background-color: #FAECD6;
}
.box {
  width: 70vw;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.box form {
  width: 70vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #FAECD6;
  border: solid 3px #820000;
  border-radius: 20px;
}
.box form .small_box {
  width: 15vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box form select {
  display: inline-block;
  width: 50vw;
  height: 50px;
  border-radius: 20px;
  border: solid 3px #820000;
  color: #820000;
  padding: 10px;
  background-color: #FAECD6;
}
.box form input {
  height: 50px;
  font-size: 16px;
}
.box form label {
  padding-left: 30px;
  display: inline-block;
  width: 15vw;
  height: 80px;
  padding: 10px;
  color: #820000;
  font-size: 25px;
  line-height: 55px;
  font-weight: 800;
}
.box form button {
  margin-top: 30px;
  display: inline-block;
  width: 50vw;
  height: 50px;
  background-color: #FAECD6;
  border: solid 3px #820000;
  color: #820000;
}
.box form button:hover {
  background-color: #820000;
  color: white;
}
.box form textarea {
  display: inline-block;
  border-radius: 20px;
  border: solid 3px #820000;
  padding: 10px;
  width: 50vw;
  height: 15vw;
  margin-bottom: 10px;
  background-color: #FAECD6;
}
.top_title {
  display: inline-block;
  width: 50vw;
  text-align: center;
  color: #820000;
}
h3.top_title {
  display: inline-block;
  width: 50vw;
  height: 50px;
  line-height: 50px;
}
/*==footer==*/
.footer-container {
  background-color: #820000;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: single day;
}
.footer-social {
  width: 25%;
}
.footer-social a {
  color: white;
  padding: 0 20px;
  font-size: 25px;
}
.footer-middle {
  width: 50%;
  padding: 0;
  text-align: center;
  font-size: 20px;
}
.footer-middle h4 {
  color: white;
}
.footer-contact-us {
  font-size: 20px;
  width: 25%;
  padding: 0 20px;
  text-align: right;
}
.footer-contact-us a {
  color: white;
}
